body {
    background-image: url("https://cdn.pixabay.com/photo/2016/11/19/14/00/code-1839406_1280.jpg");
}

section {
    height: 50px !important;
    background-color: rgba(0,0,0,0.3)!important;
    text-align: center!important;
    color: white;
}

h1{
    padding-top: 20px;
    font-size: 20px;
}

